body.theme-light.css-settings-manager {
    --text-highlight-bg: rgba(148, 175, 229, 0.37);
    --highlight: rgba(148, 175, 229, 0.37);
    --text-highlight-bg-active: rgba(114, 161, 253, 0.25);
    --hvr-active: rgba(114, 161, 253, 0.4);
    --dark-accent: #5B7EC2;
    --accent2-lite: #D0A653;
    --deep-dark-accent: #101A2E;
    --fg: #8F682D;
    --outline: #EFEFEF;
    --lines: #CCD6EB;
    --bttn: #C29147;
    --folder: #C18F44;
    --folder-open: #CFA86E;
    --soft-text: #4E79D0;
    --i-at: #C18F44;
    --table-header-text-color: #5173A4;
    --progress: #2D4E8F;
    --tag: #577CC7;
    --hvr: rgba(255, 153, 0, 0.21);
    --graph-node: #C18F44;
    --th: #C18F44;
    --list-numbered-color: #C18F44;
    --list-marker-color: #C18F44;
    --indentation-guide-color: #CCD6EB;
    --code-text: #437BEA;
    --hr-icon-color: #C18F44;
    --headers: #D09C4E;
    --graph-focused: #FDC57266;
    --theme-rainbow-1: #5476BB;
    --theme-rainbow-2: #3F62A6;
    --theme-rainbow-3: #91754C;
    --theme-rainbow-4: #6C5C44;
    --theme-rainbow-5: #6A7895;
    --accent: #446DC1;
    --inactive: #A6B8DE;
    --bg: #DCE2EF;
    --lite-accent: #5173A4;
    --accent2: #D7DDEA;
    --nav-item-color: #7F8BA4;
    --h1-color: #C18F44;
    --h2-color: #A2814F;
    --h3-color: #AC8F64;
    --h4-color: #716047;
    --h5-color: #4669AF;
    --h6-color: #6485C7;
}

body.theme-dark.css-settings-manager {
    --text-highlight-bg: rgba(20, 54, 123, 0.4);
    --highlight: rgba(20, 54, 123, 0.4);
    --text-highlight-bg-active: rgba(114, 161, 253, 0.25);
    --hvr-active: rgba(48, 103, 213, 0.4);
    --dark-accent: #203764;
    --accent2-lite: #AA9469;
    --deep-dark-accent: #101F3D;
    --lines: #293347;
    --bttn: #7A5A29;
    --folder: #866637;
    --folder-open: #CBA46A;
    --scrollbar-thumb-bg: #375186;
    --i-at: #BF985F;
    --table-header-text-color: #6C9CE0;
    --progress: #375186;
    --tag: #1A2E56;
    --graph-lines: #1A2E56;
    --graph-tag: #C18F44;
    --th: #644920;
    --soft-text: #AAB5CA;
    --list-numbered-color: #866637;
    --list-marker-color: #866637;
    --indentation-guide-color: #293347;
    --code-text: #4783FA;
    --hr-icon-color: #866637;
    --headers: #C18F44;
    --graph-focused: #FDC57266;
    --graph-node: #516BA0;
    --theme-rainbow-1: #29447A;
    --theme-rainbow-2: #203764;
    --theme-rainbow-3: #6E5D44;
    --theme-rainbow-4: #5B4C36;
    --theme-rainbow-5: #424C61;
    --accent: #375186;
    --inactive: #596378;
    --fg: #DDD8CF;
    --outline: #1C1D20;
    --bg: #252B37;
    --lite-accent: #6C9CE0;
    --accent2: #3D5076;
    --nav-item-color: #AAB5CA;
    --h1-color: #C18F44;
    --h2-color: #B79055;
    --h3-color: #B99560;
    --h4-color: #645642;
    --h5-color: #4F71B6;
    --h6-color: #7292D1;
    --hvr: rgba(169, 126, 61, 0.4);
}

.bookcover {
    margin: 10px;
    display: inline-block;
    width: 300px;
    text-align: center;
    position: relative;
    height: 200px;
    background: #000;
    border-radius: 5px;
    border: 1.5px solid #a38240;
    overflow: hidden;
}

.bookcover .img,
.bookcover img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover
}

.bookcover .excerpt {
    display: none
}

.bookcover a {
    color: #000
}

.bookcover a:hover {
    background: #000000;
    border-color: #cbac5b;
    color: black;
}

.bookcover a,
.bookcover a:hover {
    text-decoration: none
}

/* 
.bookcover a:hover .booktitle {
    background-color: #962626;
    color: #fff
} */

.bookcover a:hover .excerpt {
    display: block;
    position: absolute;
    top: 10%;
    width: 200px;
    left: 50px;
    color: #cbac5b;
    text-align: center;
    -webkit-transition: all .5s
}

.bookcover a:hover img {
    opacity: .35
}

.booktitle {
    position: absolute;
    left: 20%;
    top: 70%;
    width: 60%;
    background: #fff;
    padding: 5px 10px 5px 10px;
    max-width: 200px;
    text-align: center;
    background-color: transparent;
    -webkit-transition: all .5s;
    color: #e6c86e;
    font-family: Taroca;
}

body {
    --file-line-width: 760px !important;
}

.content {
    max-width: 760px;
}