body.css-settings-manager {
    --hr-icon-font: its;
    --hr-width: 50%;
    --header-border-line-height: 0;

    --embed-padding: 0;
    --embed-border-color: transparent;
    --embed-title-padding: 0;
}

body.theme-light.css-settings-manager {
    --soft-text: #4E79D0;
    --nav-item-color: #7F8BA4;
    --i-at: #C18F44;
    --bttn: #C29147;
    --folder: #C18F44;
    --folder-open: #CFA86E;
    --headers: #D09C4E;
    --tag: #577CC7;
    --list-marker-color: #C18F44;
    --list-numbered-color: #C18F44;
    --indentation-guide-color: #CCD6EB;
    --code-text: #437BEA;
    --hr-icon-color: #C18F44;
    --progress: #2D4E8F;
    --th: #C18F44;
    --table-header-text-color: #5173A4;
    --accent: #446DC1;
    --lite-accent: #5173A4;
    --accent2: #D7DDEA;
    --accent2-lite: #D0A653;
    --dark-accent: #5B7EC2;
    --deep-dark-accent: #101A2E;
    --inactive: #A6B8DE;
    --bg: #DCE2EF;
    --lines: #CCD6EB;
    --outline: #EFEFEF;
    --fg: #8F682D;
    --theme-rainbow-1: #5476BB;
    --theme-rainbow-2: #3F62A6;
    --theme-rainbow-3: #91754C;
    --theme-rainbow-4: #6C5C44;
    --theme-rainbow-5: #6A7895;
    --text-highlight-bg: rgba(148, 175, 229, 0.37);
    --highlight: rgba(148, 175, 229, 0.37);
    --text-highlight-bg-active: rgba(114, 161, 253, 0.25);
    --hvr: rgba(255, 153, 0, 0.21);
    --hvr-active: rgba(114, 161, 253, 0.4);
    --graph-node: #C18F44;
    --graph-focused: #FDC57266;
    --theme-rainbow-6: #9E9371;
    --h3-color: #AA9160;
    --h4-color: #8E7853;
    --h1-color: #BC9649;
    --h2-color: #335693;
    --h5-color: #A5997B;
    --h6-color: #576389;
}

body.theme-dark.css-settings-manager {
    --soft-text: #AAB5CA;
    --nav-item-color: #AAB5CA;
    --i-at: #BF985F;
    --bttn: #7A5A29;
    --folder: #866637;
    --folder-open: #CBA46A;
    --scrollbar-thumb-bg: #375186;
    --headers: #CB9544;
    --tag: #1A2E56;
    --list-marker-color: #866637;
    --list-numbered-color: #866637;
    --indentation-guide-color: #293347;
    --code-text: #4783FA;
    --hr: #424A63;
    --hr-icon-color: #866637;
    --progress: #375186;
    --th: #644920;
    --table-header-text-color: #6C9CE0;
    --accent: #3D588F;
    --lite-accent: #78A9EF;
    --accent2: #6E90B1;
    --accent2-lite: #AA9469;
    --dark-accent: #162C55;
    --deep-dark-accent: #101F3D;
    --inactive: #596378;
    --bg: #252B37;
    --lines: #293347;
    --outline: #0C1019;
    --fg: #EBE7DE;
    --theme-rainbow-1: #29447A;
    --theme-rainbow-2: #203764;
    --theme-rainbow-3: #6C5A3F;
    --theme-rainbow-4: #705D41;
    --theme-rainbow-5: #424C61;
    --text-highlight-bg: rgba(20, 54, 123, 0.4);
    --highlight: rgba(20, 54, 123, 0.4);
    --text-highlight-bg-active: rgba(114, 161, 253, 0.25);
    --hvr: rgba(169, 126, 61, 0.4);
    --hvr-active: rgba(48, 103, 213, 0.4);
    --graph-lines: #1A2E56;
    --graph-node: #516BA0;
    --graph-focused: #FDC57266;
    --graph-tag: #C18F44;
    --theme-rainbow-6: #BEAE81;
    --text-faint: #6D7786;
    --h3-color: #AA9365;
    --h4-color: #B99D66;
    --h1-color: #DAB262;
    --h2-color: #385990;
    --h5-color: #928871;
    --h6-color: #7988B6;
}


body {
    --h4-weight: 700;
    --h5-weight: 700;
}

h4,
.is-live-preview .HyperMD-header-4 {
    text-transform: uppercase;
}

.callout-title {
    font-family: var(--h4-font);
    font-weight: var(--h4-weight);
    font-size: var(--h4-size);
}


.callout {
    font-family: 'ff-good-web-pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
}

.pf2block::after,
.pf2block::before {
    box-sizing: border-box
}

.theme-dark .pf2block {
    background-color: #161a20;
}

.theme-light .pf2block {
    background-color: #d8d7d6;
}

.pf2block {
    font-family: 'ff-good-web-pro', 'Oswald', sans-serif;
    line-height: 120%;
    font-size: 1.1rem;
    text-align: left;
    width: 100%;
    border-radius: 0.5em;
    padding: 0.5em;
}



.pf2block :is(h1, h2) {
    margin: 0;
    font-family: 'ff-good-web-pro-condensed', 'Oswald', sans-serif;
    font-size: 1.65rem;
    padding: 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    color: rgb(237, 237, 237);
}

.pf2block :is(h2) {
    color: grey;
}

.hang {
    padding-left: 1em;
    text-indent: -1em;
}

.pf-trait {
    display: inline-block;
    font-family: 'ff-good-web-pro-condensed', sans-serif;
    font-size: 0.9rem;
    line-height: 1;
    text-transform: uppercase;
    background: #5d0000;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.25rem;
    color: #fff;
    /* text-shadow: 0 0 0 #fff; */
    font-weight: bold;
    margin: 0;
    border: 2px solid #d8c384;
    min-width: 5rem;
    text-align: center;
    letter-spacing: 0.05rem;
}

.pf-trait-edge {
    padding: 0.4rem 0 0.25rem 0 !important;
    width: 3px;
    min-width: 0;
    overflow: hidden;
    vertical-align: top;
    background-color: #d8c384;
}

.pf-traits {
    line-height: 1;
    display: inline-block;
    background: #d8c384;
    margin: 0;
    /* padding: 0 0.125rem; */
}

.pf-trait-size {
    background: #3a7a58;
    min-width: auto;
}

.pf-trait-type {
    background: #004316;
    min-width: auto;
}

.pf-trait-align {
    background: #566193;
    min-width: auto;
}

.pf-trait-rare {
    background: #002564;
    min-width: auto;
}

.pf-trait-uncommon {
    background: #98503c;
    min-width: auto;
}

.pf-trait-unique {
    background: #54166d;
    min-width: auto;
}


.ml-auto,
.mx-auto {
    margin-left: auto !important
}

.d-none {
    display: none !important
}

.d-inline {
    display: inline !important
}

.d-inline-block {
    display: inline-block !important
}

.d-block {
    display: block !important
}

.d-table {
    display: table !important
}

.d-table-row {
    display: table-row !important
}

.d-table-cell {
    display: table-cell !important
}

.d-flex {
    display: flex !important
}

.d-inline-flex {
    display: inline-flex !important
}

@media (min-width:576px) {
    .d-sm-none {
        display: none !important
    }

    .d-sm-inline {
        display: inline !important
    }

    .d-sm-inline-block {
        display: inline-block !important
    }

    .d-sm-block {
        display: block !important
    }

    .d-sm-table {
        display: table !important
    }

    .d-sm-table-row {
        display: table-row !important
    }

    .d-sm-table-cell {
        display: table-cell !important
    }

    .d-sm-flex {
        display: flex !important
    }

    .d-sm-inline-flex {
        display: inline-flex !important
    }
}

@media (min-width:768px) {
    .d-md-none {
        display: none !important
    }

    .d-md-inline {
        display: inline !important
    }

    .d-md-inline-block {
        display: inline-block !important
    }

    .d-md-block {
        display: block !important
    }

    .d-md-table {
        display: table !important
    }

    .d-md-table-row {
        display: table-row !important
    }

    .d-md-table-cell {
        display: table-cell !important
    }

    .d-md-flex {
        display: flex !important
    }

    .d-md-inline-flex {
        display: inline-flex !important
    }
}

@media (min-width:992px) {
    .d-lg-none {
        display: none !important
    }

    .d-lg-inline {
        display: inline !important
    }

    .d-lg-inline-block {
        display: inline-block !important
    }

    .d-lg-block {
        display: block !important
    }

    .d-lg-table {
        display: table !important
    }

    .d-lg-table-row {
        display: table-row !important
    }

    .d-lg-table-cell {
        display: table-cell !important
    }

    .d-lg-flex {
        display: flex !important
    }

    .d-lg-inline-flex {
        display: inline-flex !important
    }
}

@media (min-width:1200px) {
    .d-xl-none {
        display: none !important
    }

    .d-xl-inline {
        display: inline !important
    }

    .d-xl-inline-block {
        display: inline-block !important
    }

    .d-xl-block {
        display: block !important
    }

    .d-xl-table {
        display: table !important
    }

    .d-xl-table-row {
        display: table-row !important
    }

    .d-xl-table-cell {
        display: table-cell !important
    }

    .d-xl-flex {
        display: flex !important
    }

    .d-xl-inline-flex {
        display: inline-flex !important
    }
}

@media print {
    .d-print-none {
        display: none !important
    }

    .d-print-inline {
        display: inline !important
    }

    .d-print-inline-block {
        display: inline-block !important
    }

    .d-print-block {
        display: block !important
    }

    .d-print-table {
        display: table !important
    }

    .d-print-table-row {
        display: table-row !important
    }

    .d-print-table-cell {
        display: table-cell !important
    }

    .d-print-flex {
        display: flex !important
    }

    .d-print-inline-flex {
        display: inline-flex !important
    }
}





.bookcover {
    margin: 10px;
    display: inline-block;
    width: 300px;
    text-align: center;
    position: relative;
    height: 200px;
    background: #000;
    border-radius: 5px;
    border: 1.5px solid #a38240;
    overflow: hidden;
}

.bookcover .img,
.bookcover img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover
}

.bookcover .excerpt {
    display: none
}

.bookcover a {
    color: #000
}

.bookcover a:hover {
    background: #000000;
    border-color: #cbac5b;
    color: black;
}

.bookcover a,
.bookcover a:hover {
    text-decoration: none
}

/* 
.bookcover a:hover .booktitle {
    background-color: #962626;
    color: #fff
} */

.bookcover a:hover .excerpt {
    display: block;
    position: absolute;
    top: 10%;
    width: 200px;
    left: 50px;
    color: #cbac5b;
    text-align: center;
    -webkit-transition: all .5s
}

.bookcover a:hover img {
    opacity: .35
}

.booktitle {
    position: absolute;
    left: 20%;
    top: 70%;
    width: 60%;
    background: #fff;
    padding: 5px 10px 5px 10px;
    max-width: 200px;
    text-align: center;
    background-color: transparent;
    -webkit-transition: all .5s;
    color: #e6c86e;
    font-family: Taroca;
}